      <div class="container">
        <div class="page-header">
          <h1>The Bootbusiness frequently asked questions</h1>
        </div>  
        <div class="row">
          <div class="span10 offset1">
            <div class="accordion" id="faqAccordion">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq1">
                      <i class="icon-question-sign"></i>What is the Seven Kevins Framework?
                    </a>
                  </h4>
                </div>
                <div id="faq1" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <p>
			The Seven Kevins Framework is a collaborative framework for the development of web sites and web applications using the PHP language.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq2">
                      <i class="icon-question-sign"></i>How much does it cost?
                    </a>
                  </h4>
                </div>
                <div id="faq2" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
			The Seven Kevins Framework costs nothing. Free. Nada. Ziltch. Etc!
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq3">
                      <i class="icon-question-sign"></i>Why do girls always get in dance clubs without cover?
                    </a>
                  </h4>
                </div>
                <div id="faq3" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
			Women are why guys go to dance clubs. This is how the system works. Guy sees girl he wants to hook up with. 
			</p>
			<p>
			The guy buys her drinks hoping she will want to marry him. Girl walks away with free drinks. Guy gets upset that the money he spent did not get him married and starts trouble and is beaten to a pulp by the doormen. Process repeats itself. Bar makes money.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
