	
		<!-- MAIN -->
		<div id="main">
				
			<!-- social -->
			<div id="social-bar">
				<ul>
					<li><a href="http://www.facebook.com"  title="Become a fan"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/facebook_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.twitter.com" title="Follow my tweets"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/twitter_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.google.com"  title="Add to the circle"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/google_plus_32.png" alt="Facebook" /></a></li>
				</ul>
			</div>
			<!-- ENDS social -->
			
			
			
			<!-- Content -->
			<div id="content">
			
				<!-- masthead -->
		        <div id="masthead">
					<span class="head">Admin</span><span class="subhead">system administration</span>
					<ul class="breadcrumbs">
						<li><a href="index.html">home</a></li>
						<li>/ admin</li>
					</ul>
				</div>
	        	<!-- ENDS masthead -->
	        	
	        	
	        	
	        	<!-- posts content -->
	        	<div id="post-content">
	        	
					<div class="content-area">
						This is the main content area for the system admin. Use this area as the landing page, or launch page for all your admin functions.
					</div>
					<div class="content-area">
						<ul>
							<li><a href="<?php echo PUBLIC_PATH; ?>/skeleton">Create Module</a></li>
							<li><a href="<?php echo PUBLIC_PATH; ?>/blog/admin">Blog Module Admin</a></li>
							<li><a href="<?php echo PUBLIC_PATH; ?>/about/admin">About Module Admin</a></li>
							<li><a href="<?php echo PUBLIC_PATH; ?>/contact/admin">Contact Module Admin</a></li>
							<li><a href="<?php echo PUBLIC_PATH; ?>/portfolio/admin">Portfolio Module Admin</a></li>
								
						</ul>
					</div>
						
	        	</div>
	        	<!-- ENDS posts content -->
	        	
	        	
	        	<!-- sidebar -->
	        	<aside id="sidebar">
	        		
	        		<div class="block">
		        		<h4>notes</h4>
					<p>
						Notes here about various admin tasks on this page.
					</p>
	        		</div>
	        		
	        	
	        	</aside>
	        	<div class="clearfix"></div>
				<!-- ENDS sidebar -->
				
				
			
			</div>
			<!-- ENDS content -->
			
			<div class="clearfix"></div>
			<div class="shadow-main"></div>
			
			
		</div>
		<!-- ENDS MAIN -->
		
