	
		<!-- MAIN -->
		<div id="main">
				
			<!-- social -->
			<div id="social-bar">
				<ul>
					<li><a href="http://www.facebook.com"  title="Become a fan"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/facebook_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.twitter.com" title="Follow my tweets"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/twitter_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.google.com"  title="Add to the circle"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/google_plus_32.png" alt="Facebook" /></a></li>
				</ul>
			</div>
			<!-- ENDS social -->
			
			
			
			<!-- Content -->
			<div id="content">
			
				<!-- slider -->
		        <div class="flexslider home-slider">
				  <ul class="slides">
				    <li>
				      <img src="<?php echo PUBLIC_PATH; ?>/assets/images/slides/01.jpg" alt="alt text" />
				      <p class="flex-caption">Seven Kevins Framework - PHP in action </p>
				    </li>
				    <li>
				      <img src="<?php echo PUBLIC_PATH; ?>/assets/images/slides/02.jpg" alt="alt text" />
				      <p class="flex-caption">SKF - Light and Power!</p>
				    </li>
				    <li>
				      <img src="<?php echo PUBLIC_PATH; ?>/assets/images/slides/03.jpg" alt="alt text" />
					<p class="flex-caption">SKF - Developing Developers</p>
				    </li>
                                    <li>
                                      <img src="<?php echo PUBLIC_PATH; ?>/assets/images/slides/04.jpg" alt="alt text" />
                                        <p class="flex-caption">SKF - Rapid Application Development</p>
                                    </li>
				  </ul>
				</div>
				<div class="shadow-slider"></div>
	        	<!-- ENDS slider -->
	        	
	        	
	        	<!-- Headline -->
	        	<div class="headline">
	        		SKF is free for personal use!
	        	</div>
	        	<!-- ENDS Headline -->
	        	
	        	
	        	
	        	<!-- featured -->
	        	<h1 class="home-block-heading">Features</h1>
	        	<div class="featured">
	        		<figure>
	        			<a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-1.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-1.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Responsive Design</a>
		        			 It will fit your large desktop screen, all the way down to your iPhone or any device! 
		        		</div>
		        		<a class="link" href="<?php echo PUBLIC_PATH; ?>/blog/show"></a>
	        		</figure>
	        		
	        		
	        		
	        		<figure>
	        			<a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-2.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-2.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Page layouts</a>
		        			Several modules have been created for examples to get you started.
		        		</div>
		        		<a class="link" href="<?php echo PUBLIC_PATH; ?>/blog/show"></a>
	        		</figure>
	        		
	        		<figure>
	        			<a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-3.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Contact Form</a>
		        			A contact form is included to demonstrate how forms display
		        		</div>
		        		<a class="link" href="<?php echo PUBLIC_PATH; ?>/blog/show"></a>
	        		</figure>
	        		
	        		<figure>
	        			<a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-4.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Portfolio Pages</a>
		        			Need to showcase your work. No worries use the portfolio template and display your work on a professional way.
		        		</div>
		        		<a class="link" href="<?php echo PUBLIC_PATH; ?>/blog/show"></a>
	        		</figure>
	        		
	        		<figure>
	        			<a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-5.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-5.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Blog Templates</a>
		        			Use the blog page templates to create your own blog. 
		        		</div>
		        		<a class="link" href="<?php echo PUBLIC_PATH; ?>/blog/show"></a>
	        		</figure>
	        		
	        		
	        		<figure>
	        			<a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/full-6.jpg" alt="Alt text" /></a>
	        			<div>
	        				<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">The Templates</a>
		        			The demonstration template is easy to replace with your own. Re-skinning a site has never been easier</a>.
		        		</div>
		        		<a class="link" href="<?php echo PUBLIC_PATH; ?>/blog/show"></a>
	        		</figure>
	        		
	        		<div class="clearfix"></div>
					        		
	        	</div>
	        	<!-- ENDS featured -->
	        	
	        	
	        	<!-- text-posts -->
	        	<h1 class="home-block-heading">From the blog</h1>
	        	<ul class="text-posts">
	        		<li>
	        			<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">PHPRO.ORG</a>
	        			visit <a href="http://www.phpro.org" >PHPRO.ORG</a> and get all your PHP needs. 
	        		</li>
	        		
	        		<li>
	        			<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Support</a>
					Paid support is available to build your custom site. Contact kevin@phpro.org
	        		</li>
	        		
	        		<li>
	        			<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Modules</a>
					A simple module system which allows development of custom sites rapidly
	        		</li>
	        		
	        		<li>
	        			<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Free For Personal Use</a>
					The Seven Kevins Framework is free for personal use!
	        		</li>
	        		
	        		<li>
	        			<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Join the team!</a>
					If you have improvements for the Seven Kevins Framework, we can work them in.
	        		</li>
	        		
	        		<li>
	        			<a href="<?php echo PUBLIC_PATH; ?>/blog/show" class="heading">Start Now</a>
					The Seven Kevins Framework works out of the box. Get Started!
	        		</li>
	        		
	        	</ul>
	        	<!-- ENDS text-posts -->
	        	
	        	
	        	<!-- home-gallery -->
	        	<h1 class="home-block-heading">From the gallery</h1>
	        	<ul class="home-gallery">
	        		<li><a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-1.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-1.jpg" alt="Alt text" /></a></li>
	        		<li><a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-2.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-2.jpg" alt="Alt text" /></a></li>
	        		<li><a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-3.jpg" alt="Alt text" /></a></li>
					<li><a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-4.jpg" alt="Alt text" /></a></li>
					<li><a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-5.jpg" alt="Alt text" /></a></li>
					<li><a href="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/dummies/featured-6.jpg" alt="Alt text" /></a></li>	        		
	        	</ul>
	        	<div class="clearfix"></div>	
	        	<!-- ENDS home-gallery -->
				
				
			
			</div>
			<!-- ENDS content -->
			
			<div class="clearfix"></div>
			<div class="shadow-main"></div>
			
			
		</div>
		<!-- ENDS MAIN -->
		
